.body,
:root {
  margin: 0px;
  height: 100vh;
}

.board {
  display: flex;
  gap: 20px;
  justify-content: space-around;
}

.grid {
  display: grid;
  grid-template: repeat(15, 1fr) / repeat(15, 1fr);
}

.block {
  border: 1px solid rgb(102, 98, 98);
  margin: 0px;
  width: 2rem;
  height: 2rem;
}

.ship {
  background-color: rgb(102, 102, 212);
}

.miss {
  background-color: gray;
}

.hit {
  background-color: orange;
}

.block:hover {
  cursor: pointer;
}
